.subtitlesLabels {
  font-family: Lato-Regular;
}

.titleLabels {
  font-family: Merriweather-Regular;
}

.itemMenuToolbar {
  font-family: Lato-Light;
  font-size: 1.1428571429rem;
  line-height: 1.5;
  text-decoration-color: rgba(66, 66, 66, 0.87);
}

.__navBar {
  box-shadow: 0 2px 2px rgba(66,66,66,.05), 0 4px 4px rgba(97,97,97,.05);
}