@font-face {
  font-family: Lato-Black;
  src: url(./Assets/fonts/lato/Lato-Black.ttf);
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Lato-Bold;
  src: url(./Assets/fonts/lato/Lato-Bold.ttf);
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Lato-Light;
  src: url(./Assets/fonts/lato/Lato-Light.ttf);
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Lato-Regular;
  src: url(./Assets/fonts/lato/Lato-Regular.ttf);
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Merriweather-Black;
  src: url(./Assets/fonts/merriweather/Merriweather-Black.ttf);
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Merriweather-Bold;
  src: url(./Assets/fonts/merriweather/Merriweather-Bold.ttf);
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Merriweather-Light;
  src: url(./Assets/fonts/merriweather/Merriweather-Light.ttf);
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Merriweather-Regular;
  src: url(./Assets/fonts/merriweather/Merriweather-Regular.ttf);
  font-style: normal;
  font-display: fallback;
}